# Строка подключения для Drizzle ORM / Prisma
DATABASE_URL="postgresql://username:password@localhost:5432/databasename"

DB_USER=user_name
DB_PASSWORD=password_value
DB_NAME=database_name
DB_PORT=1234

PGADMIN_EMAIL=email@email.com
PGADMIN_PASSWORD=password
PGADMIN_PORT=1234